# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
**/dist
aplicacion-angular/tmp
aplicacion-angular/out-tsc
aplicacion-angular/bazel-out

# Node
**/node_modules
aplicacion-angular/npm-debug.log
aplicacion-angular/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
aplicacion-angular/.angular/cache
.sass-cache/
aplicacion-angular/connect.lock
aplicacion-angular/coverage
aplicacion-angular/libpeerconnection.log
aplicacion-angular/testem.log
aplicacion-angular/typings

# System files
.DS_Store
aplicacion-angular/Thumbs.db