<html>
    <body>
        <div class="jumbotron" style="position:absolute; top: 70px; left:20px; width: 650px;">
            <h1 class="display-4"> ¡Hola Cocinero! </h1>
            <p class="lead fs-2 fst-italic"> ¡Dale Sabor a tu Vida! </p>
            <p class="lead fs-3">Esta empresa se creo con la finalidad de subir recetas de cocina para que todas las personas se sientan chefs profesionales.</p>
            <hr class="fs-4">
            <p> ¿Deseas ver nuestras recetas? ¡Regístrate aquí! </p>
            <a class="btn btn-danger fst-italic fs-4" data-toggle="modal" data-target="#registro"> Registrarse </a>
        </div>
    <img src="assets/imghome/cocineros.png" height="500px" style="position:absolute; top: 190px; left: 750px;"> 
    <img src="assets/imghome/logo.png" height="200px" style="position:absolute; top: 75px; left: 890px;"> 
    </body>
</html>